@(tasks: List[Task])

@main("display tasks"){
	<div class="container" style="height: 30px;"></div>
	<div class="panel panel-default">
		<div class="panel-heading" style="height: 50px;">
			<h3 class="panel-title">
				Pending tasks to be completed
				<a class="btn btn-primary pull-right" href="/new">
					Create Task
				</a>
			</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				@for(task <- tasks){
				<li class="list-group-item">
					<span class="badge">@task.endDate</span>
					@task.description
				</li>
				}
			</ul>
		</div>
	</div>
}