@main("Main") {
<script type="text/javascript">
	document.getElementById("home").className = "active";
</script>

<div class="row">
	<div class="well-lg">
		<p>Home page!</p>
		<a href="/Tasks">Go to Tasks</a>
	</div>
</div>
}